@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inconsolata;
    font-weight: 400;
    src: url('/public/fonts/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: Inconsolata;
    font-weight: 500;
    src: url('/public/fonts/Inconsolata-Medium.ttf');
}

@font-face {
    font-family: Inconsolata;
    font-weight: 600;
    src: url('/public/fonts/Inconsolata-SemiBold.ttf');
}

@font-face {
    font-family: Inconsolata;
    font-weight: 700;
    src: url('/public/fonts/Inconsolata-Bold.ttf');
}

:root {
    @apply font-Inconsolata bg-black text-white;
}

body {
    @apply text-[18px] md:text-[20px] lg:text-[24px] leading-[40px];
}

h1 {
    @apply text-[36px] md:text-[48px] lg:text-[60px] font-bold leading-[50px] md:leading-[56px]  lg:leading-[80px];
}

h1 span {
    animation: text-glow 3s ease-in-out infinite;

    @apply text-gradient;
}

h2 {
    @apply text-[24px] md:text-[36px] lg:text-[48px] font-semibold leading-[56px] md:leading-[80px];
}

h3 {
    @apply text-[18px] md:text-[24px] lg:text-[36px] font-medium leading-[56px];
}

button {
    @apply font-bold text-[14px] md:text-[16px] lg:text-[18px];
}

.bg-gradient {
    background: linear-gradient(
        90deg,
        #4caf50 0%,
        rgba(79, 195, 247, 0.7) 100%
    );
}

.text-gradient {
    background: linear-gradient(
        90deg,
        #4caf50 0%,
        rgba(79, 195, 247, 0.7) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-glow-left {
    animation: box-glow-left 1.5s ease-in-out infinite;
}

.img-glow-right {
    animation: box-glow-right 1.5s ease-in-out infinite;
}

@keyframes text-glow {
    0%,
    100% {
        text-shadow: 8px 8px 20px rgba(76, 175, 80, 0.2);
    }
    50% {
        text-shadow: 8px 8px 20px rgba(76, 175, 80, 0.6);
    }
}

@keyframes box-glow-left {
    0%,
    100% {
        box-shadow: -8px 8px 8px 0px rgba(76, 175, 80, 0.8);
    }
    50% {
        box-shadow: none;
    }
}

@keyframes box-glow-right {
    0%,
    100% {
        box-shadow: 8px 8px 8px 0px rgba(76, 175, 80, 0.8);
    }
    50% {
        box-shadow: none;
    }
}
